# Python
__pycache__
dist

# hidden files
.*
!.*rc
!.*rc.js
!.*ignore
!.*config
!.*lint.json
!.env
!.gitattributes
!.github
!.tool-versions
!.keep
!.bandit
!.devcontainer
!.vscode/launch.json
!.vscode/settings.json
!.dockerignore
